NEXT_PUBLIC_SITE_URL=https://shiel.ltd
NEXT_PUBLIC_CONTACT_EMAIL=hello@shiel.ltd
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_BING_SITE_VERIFICATION=
NEXT_PUBLIC_WHATSAPP_DISPLAY=+1 (332) 556-072
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/1332556072
