NEXT_PUBLIC_SITE_URL=https://shiel.ltd
NEXT_PUBLIC_CONTACT_EMAIL=victoria@shiel.ltd
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_BING_SITE_VERIFICATION=
NEXT_PUBLIC_WHATSAPP_DISPLAY=+1 (332) 355-6072
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/13323556072
